.todo-item {
    width: 100%;
}

.todo-item .todo {
    width: 100%;
}

.todo-item .date {
    align-self: center;
    width: 4rem;
    text-align: center;
    font-size: 0.85rem;
    margin-right: 0.3rem;
    color: #747474;
}

.todo-item .wrap {
    width: 100%;
    padding-left: 0.75rem;
    overflow: hidden;
}

.todo-item .ts {
    color: #bcbcbc;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

.todo-item .text {
    white-space: pre-wrap;
}

.todo-item .remove i {
    opacity: 0;
    font-size: 1.1rem;
}

.todo-item:hover .remove i{
    opacity: 1;
    color: #868686;
}

.todo-item:hover .remove i:hover {
    color: #414141;
    cursor: pointer;
}

.todo-item .done-ts {
    color: #bcbcbc;
    font-size: 0.875rem;
}

.todo-item .check .checkbox {
    font-size: 1.25rem;
    color: #80caf0;
    padding-left: 0.5rem;
}

.todo-item .check .checkbox:hover {
    cursor: pointer;
}

.todo-item.done .text {
    text-decoration: line-through;
}
